.offline {
  color: #850c1e;
}

.online {
  color: green;
}

#sign {
  background-color: #222222;
  padding-bottom: 0px;
}

.sign_svg {
  background-color: #222222;
}

.oneled-on {
  color: #f73939;
}

.pen {
  cursor: url('/pen.png') 0 64, pointer;
}

.eraser {
  cursor: url('/eraser.png') 19 64, pointer;
}
